html, body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 3rem;
    margin-bottom: 3rem;
}

nav {
  display: flex;
  width: 90%;
  margin: 0 5%;
  justify-content: space-between;
  line-height: 2rem;
}

nav a {
  text-decoration: none;
  color: rgba(0, 146, 0, 1);
  font-family: 'Creepster', cursive;
  font-weight: bold;
}

#settings {
  font-family: 'Times New Roman', solid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

main button{
 margin: 0 2rem;
}

img {
  width: 15rem;
  height: 20rem;
}

button {
  height: 2rem;
  cursor: pointer;
}

#desc {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 3rem;
  background-color: black;
  color: white;
}

#desc h3{
  line-height: .3rem;
}

#desc button {
  margin: 1rem auto;
  width: 3rem;
}



